.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 20px 0 0;
  padding: 7px 505px 7px 504px;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 321px;
  margin: 40px 264px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    align-self: flex-end;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 304px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
  }
}